<div class='modal-body'>
  <iframe id="JotFormIFrame" onload="window.parent.scrollTo(0,0)" allowtransparency="true" src="http://form.jotformeu.com/form/50682186919365?archivesspaceVersion=<%= ASConstants.VERSION %>" frameborder="0" scrolling="no" seamless="seamless"></iframe>
</div>
<div class='modal-footer'>
  <button class="btn btn-cancel" data-dismiss="modal"><%= I18n.t "actions.close" %></button>
</div>